// COLORS
// ----------------------
$color-primary: #95a595;
$color-primary-darked: #c1c8c1;
// END PERSONALISATION


// Back-office variables
$bo-background-color: #191a1a;
$bo-menu-background-color: #191a1a;
$bo-color-label: rgb(45, 50, 55);
$bo-color-checkbox: #BADA55;
$bo-color-primary: #BADA55;


//$color-light-gray: #f3f3f3;
$color-light-gray: #eaeaea;
$color-light-gray-2: #c4c4c4;
$color-medium-gray: #4d4d4d;
$color-dark-gray: #3c4145;

$color-dark: rgb(25,26,26);
$color-dark-95pc: rgba(25,26,26,.95);
$color-dark-80pc: rgba(25,26,26,.8);

$color-gray-text: #808080;
$color-white : #ffffff;


// Header
$header-height: 95px;

// Categories
$color-category-actu: #00ABE9;
$color-category-actu-darked: #006c8f;
$color-category-tendance: #479852;
$color-category-tendance-darked: #29592f;
